.form{
    
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(154, 212, 230, 0.749);
    width: 50%;
    border-radius: 10px;
    height: auto;
    text-align: left;
}
.form-group{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}
.sub_btn{
  
  background-color: #3113b8; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.form-control{
    background-color: rgba(204, 198, 198, 0.749);
    padding: 20px 180px;
    text-align: left;
    size: 100%;
   
}
.label {
    display: inline-block;
    width: 50px;
    text-align: left;
  }